{% extends "base/base.html" %}
{% load static %}
{% block title %}Zoyro | Trendy Clothing for Every Style{% endblock  %}
{% block banner %}
<div class="py-0">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-12 px-0">
            <header>
               <div id="owl-carousel-one" class="owl-carousel">
                  <div class="item"><img class="img-fluid mx-auto" src="{% static 'img/banner/cover1.jpg' %}"></div>
                  <div class="item"><img class="img-fluid mx-auto" src="{% static 'img/banner/cover2.jpg' %}"></div>
                  <div class="item"><img class="img-fluid mx-auto" src="{% static 'img/banner/cover3.jpg' %}"></div>
                  <div class="item"><img class="img-fluid mx-auto" src="{% static 'img/banner/cover4.jpg' %}"></div>
               </div>
            </header>
         </div>
      </div>
   </div>
</div>
 {% endblock  %}

{% block content %}
<section class="product-list pbc-5 pb-4 pt-5 bg-light">
    <div class="container">
       <h6 class="mt-1 mb-0 float-right"><a href="#">View All Items</a></h6>
       <h4 class="mt-0 mb-3 text-dark font-weight-normel">Best Selling Items</h4>
       <div class="row">
         
         {% for product in products %}
            
          <div class="col-6 col-md-3">
             <div class="card list-item bg-white rounded overflow-hidden position-relative shadow-sm">
                <span class="like-icon"><a href="#"> <i class="icofont icofont-heart"></i></a></span>
                <a href="{% url 'products:details' product.slug %}">
                  {% if forloop.counter|divisibleby:2 %}
                  <span class="badge badge-danger">NEW</span>
                  {% else %}
                  <span class="badge badge-success">{{product.discount}}% OFF</span>
                  {% endif %}
                   <img src="{{product.default_image.url}}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                   <h6 class="card-title mb-1">{{product.title}}</h6>
                   <div class="stars-rating"><i class="icofont icofont-star active"></i><i
                         class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i
                         class="icofont icofont-star active"></i><i class="icofont icofont-star"></i> <span>613</span>
                   </div>
                   <p class="mb-0 text-dark">৳ {{product.offer_price}} <span class="text-black-50"><del>৳{{product.price}} </del></span>
                     <span class="bg-danger  rounded-sm pl-1 ml-1 pr-1 text-white small"> {{product.discount}}% OFF</span></p>
                </div>
             </div>
          </div>
          {% endfor %}
          
       </div>
    </div>
    </div>
 </section>
 <section class="offer-product py-5">
   <div class="container">
      <div class="row">
         <div class="col-6">
            <div class="offers-block"><a href="#"><img class="img-fluid" src="{% static 'img/banner/cover3.jpg' %}" alt=""></a></div>
         </div>
         <div class="col-6">
            <div class="offers-block"><a href="#"><img class="img-fluid" src="{% static 'img/banner/cover4.jpg' %}" alt=""></a></div>
         </div>
      </div>
   </div>
</section>
 <section class="product-list pbc-5 pb-4 pt-5 bg-light">
    <div class="container">
       <h6 class="mt-1 mb-0 float-right"><a href="#">View All Items</a></h6>
       <h4 class="mt-0 mb-3 text-dark">Top Savers Today</h4>
       <div class="row">
          <div class="col-md-12">
             <div class="owl-carousel owl-carousel-category owl-theme">
               {% for product in top_savers_products %}
                <div class="item">
                   <div class="card list-item bg-white rounded overflow-hidden position-relative shadow-sm">
                      <span class="like-icon"><a href="#"> <i class="icofont icofont-heart"></i></a></span>
                      <a href="#">
                        {% if forloop.counter|divisibleby:2 %}
                         <span class="badge badge-danger">NEW</span>
                         {% else %}
                         <span class="badge badge-success">{{product.discount}}% OFF</span>
                         {% endif %}
                         <img src="{{ product.default_image.url }}" class="card-img-top" alt="..."></a>
                      <div class="card-body">
                         <h6 class="card-title mb-1">{{product.title}}</h6>
                         <div class="stars-rating"><i class="icofont icofont-star active"></i><i
                               class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i
                               class="icofont icofont-star active"></i><i class="icofont icofont-star"></i>
                            <span>613</span></div>
                         <p class="mb-0 text-dark">৳ {{product.offer_price}} <span class="text-black-50"><del>৳{{product.price}} </del></span>
                            <span class="bg-danger  rounded-sm pl-1 ml-1 pr-1 text-white small"> {{product.discount}}% OFF</span></p>
                      </div>
                   </div>
                </div>
                {% endfor %}
                {% for product in top_savers_products %}
                <div class="item">
                   <div class="card list-item bg-white rounded overflow-hidden position-relative shadow-sm">
                      <span class="like-icon"><a href="#"> <i class="icofont icofont-heart"></i></a></span>
                      <a href="#">
                        {% if forloop.counter|divisibleby:2 %}
                         <span class="badge badge-danger">NEW</span>
                         {% else %}
                         <span class="badge badge-success">{{product.discount}}% OFF</span>
                         {% endif %}
                         <img src="{{ product.default_image.url }}" class="card-img-top" alt="..."></a>
                      <div class="card-body">
                         <h6 class="card-title mb-1">{{product.title}}</h6>
                         <div class="stars-rating"><i class="icofont icofont-star active"></i><i
                               class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i
                               class="icofont icofont-star active"></i><i class="icofont icofont-star"></i>
                            <span>613</span></div>
                         <p class="mb-0 text-dark">৳ {{product.offer_price}} <span class="text-black-50"><del>৳{{product.price}} </del></span>
                            <span class="bg-danger  rounded-sm pl-1 ml-1 pr-1 text-white small"> {{product.discount}}% OFF</span></p>
                      </div>
                   </div>
                </div>
                {% endfor %}
                {% for product in top_savers_products %}
                <div class="item">
                   <div class="card list-item bg-white rounded overflow-hidden position-relative shadow-sm">
                      <span class="like-icon"><a href="#"> <i class="icofont icofont-heart"></i></a></span>
                      <a href="#">
                        {% if forloop.counter|divisibleby:2 %}
                         <span class="badge badge-danger">NEW</span>
                         {% else %}
                         <span class="badge badge-success">{{product.discount}}% OFF</span>
                         {% endif %}
                         <img src="{{ product.default_image.url }}" class="card-img-top" alt="..."></a>
                      <div class="card-body">
                         <h6 class="card-title mb-1">{{product.title}}</h6>
                         <div class="stars-rating"><i class="icofont icofont-star active"></i><i
                               class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i
                               class="icofont icofont-star active"></i><i class="icofont icofont-star"></i>
                            <span>613</span></div>
                         <p class="mb-0 text-dark">৳ {{product.offer_price}} <span class="text-black-50"><del>৳{{product.price}} </del></span>
                            <span class="bg-danger  rounded-sm pl-1 ml-1 pr-1 text-white small"> {{product.discount}}% OFF</span></p>
                      </div>
                   </div>
                </div>
                {% endfor %}
                
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="py-5">
    <div class="container">
       <div class="row">
          <div class="col-4">
             <div class="offers-block"><a href="#">
                   <img class="img-fluid" src="{% static 'img/offer-1.png' %}" alt=""></a>
             </div>
          </div>
          <div class="col-4">
             <div class="offers-block"> <a href="#"><img class="img-fluid mb-3" src="{% static 'img/offer-3.png' %}" alt=""></a>
             </div>
             <div class="offers-block"><a href="#"><img class="img-fluid" src="{% static 'img/offer-4.png' %}" alt=""></a></div>
          </div>
          <div class="col-4">
             <div class="offers-block"><a href="#"><img class="img-fluid" src="{% static 'img/offer-2.png' %}" alt=""></a></div>
          </div>
       </div>
    </div>
 </section>
{% endblock  %}

